<header class="top-nav">
    <div class="nav-inner">

        <a class="nav-brand">
            <ng-logo [size]="28" class="brand-icon" />
            <span class="brand-text">Angular Router In Depth (Signals Edition)</span>
        </a>

        <ul class="nav-links">
            <li>
                <a class="nav-link" routerLink="/">
                    <span class="material-icons">grid_view</span>
                    Courses
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/about"
                routerLinkActive="active">
                    <span class="material-icons">info</span>
                    About
                </a>
            </li>
            @if (auth.isLoggedOut()) {
                <li>
                    <a class="nav-link" routerLink="/login"
                    routerLinkActive="active">
                        <span class="material-icons">person</span>
                        Login
                    </a>
                </li>
            }
        </ul>

        <div class="nav-actions">
            @if (auth.isLoggedIn()) {
                <a class="btn-icon" title="Helpdesk Chat">
                    <span class="material-icons">chat_bubble</span>
                </a>
            }
            @if (auth.isLoggedIn()) {
                <button class="btn-icon" (click)="logout()" title="Logout">
                    <span class="material-icons">logout</span>
                </button>
            }
            @if (auth.user()) {
                <div class="nav-avatar" aria-label="Logged in">
                    <ng-logo [size]="21" />
                </div>
            }
        </div>

    </div>
</header>

<messages />
<loading [detectRoutingOngoing]="true" />
<confirm-dialog />

<main class="app-main">
    <!-- router-outlet goes here -->
  <router-outlet />
</main>

<dev-toolbar />
